@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.normal {
  background-color: #9fa19f;
}

.fighting {
  background-color: #ff8000;
}

.flying {
  background-color: #81b9ef;
}

.poison {
  background-color: #8f41cb;
}

.ground {
  background-color: #915121;
}

.rock {
  background-color: #afa981;
}

.bug {
  background-color: #91a119;
}

.ghost {
  background-color: #704170;
}

.steel {
  background-color: #60a1b8;
}

.fire {
  background-color: #e62829;
}

.water {
  background-color: #2980ef;
}

.grass {
  background-color: #3fa129;
}

.electric {
  background-color: #fac000;
}

.psychic {
  background-color: #ef4179;
}

.ice {
  background-color: #3fd8ff;
}

.dragon {
  background-color: #5061e1;
}

.dark {
  background-color: #50413f;
}

.fairy {
  background-color: #ef71ef;
}

.stellar {
  @apply bg-gradient-to-r from-lime-600 via-sky-700 to-violet-700
}

.unknown {
  @apply bg-white
}

.genButton {
  @apply m-1 bg-slate-600 rounded-full p-2 text-white
}

.textShadow {
  text-shadow: 2px 2px 2px #000000;
  color: #ffffff;
}

.pngSahdow {
  filter: drop-shadow(5px 5px 10px #000000);
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}